:root {
	background-color: #181818;
	font-family: sans-serif;
}

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.header {
	height: 50px;
	width: 100vw;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	width: 100%;
	height: calc(100vh - 60px);
	padding-top: 60px;
}

.me {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.text-wrapper {
	display: flex;
	flex-direction: row;
}

.typewrite {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	background-color: rgb(197, 0, 0);
	padding: 5px 10px;
	border-radius: 5px;
}

.wrap {
	padding-right: 5px;
}

.text-wrapper span,
.text-wrapper h1 {
	font-size: 2.8rem;
	font-weight: 700;
}

.subtitle {
	margin-top: 10px;
	opacity: 0.8;
	font-size: 1.4rem;
}

.avatar-link {
	text-align: center;
}

.avatar {
	width: 300px;
}

.programming-svg {
	width: 600px;
	height: auto;
	margin-bottom: -1px;
	justify-self: flex-end;
}

.second-content {
	background: linear-gradient(180deg, #64beff 20%, rgba(0, 0, 0, 0) 100%);
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	padding-bottom: 4rem;
}

.second-content h1 {
	margin: 50px;
	margin-bottom: 0;
	font-size: 2.3rem;
}

.second-content .description {
	width: 75%;
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: lighter;
}

.skills {
	width: 90%;
	background-color: transparent;
	margin-top: 20rem;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	transition: 0.7s;
}

.skills.is-visible {
	margin-top: 3rem;
}

.card {
	background-color: white;
	text-align: center;
	display: block;
	padding: 40px;
}

.card-icon {
	height: 52px;
	width: auto;
	padding: 10px;
}

.card h3 {
	margin-top: 40px;
	padding-bottom: 5px;
	color: #5097cc;
	font-size: 1.7rem;
}

.card p {
	margin-top: 10px;
	font-size: 1.4rem;
}

.card ul {
	margin-top: 10px;
	list-style: none;
}

.card li {
	margin-top: 15px;
	font-size: 1.4rem;
}

.back {
	border-radius: 20px 0 0 20px;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.front {
	border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.soft {
	border-radius: 0 20px 20px 0;
}

.footer {
	display: flex;
	flex-direction: column;
	color: white;
	margin-bottom: 20px;
}

.footer h1 {
	font-size: 2rem;
	font-weight: 400;
}

.footer .socials {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}

.footer .socials svg {
	width: 35px;
	height: 35px;
}

@media only screen and (max-width: 800px) {
	.header {
		height: 50px;
	}

	.text-wrapper span,
	.text-wrapper h1 {
		font-size: 1.8rem;
		font-weight: 700;
		display: inline-flex;
		align-items: center;
	}

	.subtitle {
		margin-top: 10px;
		opacity: 0.8;
		font-size: 1.5rem;
	}

	.second-content h1 {
		width: 70%;
		margin-bottom: 0;
		font-size: 2.3rem;
	}

	.second-content .description {
		width: 80%;
		margin-top: 20px;
		font-size: 1.4rem;
		font-weight: lighter;
	}

	.avatar {
		width: 260px;
		height: auto;
	}

	.programming-svg {
		width: 50%;
		height: auto;
		margin-top: 30px;
	}

	.skills {
		display: flex;
		flex-direction: column;
		box-shadow: none;
		gap: 20px;
	}

	.card {
		border-radius: 10px;
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
	}

	.card p,
	.card .social {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 1300px) and (orientation: landscape) {
	.text-wrapper span,
	.text-wrapper h1 {
		font-size: 2.6rem;
		font-weight: 700;
	}

	.subtitle {
		font-size: 1.2rem;
	}

	.programming-svg {
		width: 40%;
		height: auto;
		margin-top: 30px;
	}

	.avatar {
		width: 70%;
		height: auto;
	}
}

@media only screen and (max-height: 850px) {
	.avatar {
		width: 200px;
		height: auto;
	}

	.programming-svg {
		width: 40%;
		height: auto;
	}
}

@media only screen and (max-height: 700px) {
	.text-wrapper span,
	.text-wrapper h1 {
		font-size: 2.4rem;
		font-weight: 700;
	}

	.subtitle {
		font-size: 1rem;
	}

	.avatar {
		width: 170px;
		height: auto;
	}

	.programming-svg {
		width: 30%;
		height: auto;
	}
}

@media only screen and (max-width: 600px) {
	.header {
		height: 50px;
	}

	.text-wrapper span,
	.text-wrapper h1 {
		font-size: 1.2rem;
		font-weight: 700;
		display: inline-flex;
		align-items: center;
	}

	.subtitle {
		margin-top: 10px;
		opacity: 0.8;
		font-size: 1rem;
	}

	.second-content h1 {
		width: 70%;
		margin-bottom: 0;
		font-size: 2rem;
	}

	.second-content .description {
		width: 90%;
		margin-top: 20px;
		font-size: 1.1rem;
		font-weight: lighter;
	}

	.wrap {
		min-height: 23px;
	}

	.avatar {
		width: 200px;
		height: auto;
	}

	.programming-svg {
		width: 90%;
		height: auto;
	}

	.skills {
		display: flex;
		flex-direction: column;
		box-shadow: none;
		gap: 20px;
	}

	.card {
		border-radius: 10px;
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
	}
}

.hidden-text {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

body::-webkit-scrollbar-track {
	border-radius: 10px;
	border: 5px solid transparent;
	box-shadow: inset 0 0 14px 14px transparent;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 5px solid transparent;
	box-shadow: inset 0 0 14px 14px #bbbbbe;
}
body::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	border: 5px solid transparent;
	box-shadow: inset 0 0 14px 14px #a4a4a7;
}

body::-webkit-scrollbar {
	width: 16px;
}
