@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		-ms-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		-ms-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		-ms-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		-ms-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		-ms-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes enter-left {
	from {
		opacity: 0;
		transform: translateX(-50vw);
	}
	to {
		opacity: inherit;
	}
}
@keyframes enter-right {
	from {
		opacity: 0;
		transform: translateX(50vw);
	}
	to {
		opacity: inherit;
	}
}
@keyframes enter-bottom {
	from {
		opacity: 0;
		transform: translateY(20vw);
	}
	to {
		opacity: inherit;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: "Rubik";
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.spanText {
	display: inline-table;
}

.spanText span:not(.blank) {
	display: inline-block;
}

.animated {
	color: #65c9ff;
	animation: rubberBand 1s;
	transition: all 0.3s ease-in-out;
}

section {
	height: 100vh;
	background-color: #1d1d1d;
	color: white;
	padding: 2vh 6vw;
}

#me {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#me .content {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

#me .content h1 {
	font-size: clamp(2rem, 6vw, 4.5rem);
	animation: enter-left 0.8s ease-in-out;
}

#me .content p {
	font-size: clamp(1rem, 4vw, 2rem);
	color: rgba(255, 255, 255, 0.7);
	animation: enter-left 0.9s ease-in-out;
}

#me .content a {
	font-size: clamp(1rem, 3.5vw, 1.7rem);
	width: fit-content;
	border-radius: 5px;
	outline: 2px solid #65c9ff;
	color: #65c9ff;
	padding: 8px 25px;
	text-decoration: none;
	margin-top: 3vh;
	animation: enter-left 1s ease-in-out;
}

#me .content a:hover {
	color: black;
	background: #65c9ff;
	box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
	transition: 0.1s;
}

#me img {
	width: 30%;
    height: auto;
	animation: enter-right 0.8s ease-in-out;
}

#about {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 5vw;
}

#about .content {
	visibility: hidden;
	width: 60%;
	display: flex;
	flex-direction: column;
}

#about.visible .content {
	visibility: visible;
	animation: enter-right 0.9s ease-in-out;
}
#about.visible img {
	visibility: visible;
	animation: enter-left 0.9s ease-in-out;
}

#about h2 {
	font-size: clamp(2rem, 6vw, 4.5rem);
	text-align: end;
	color: #65c9ff;
}

#about p {
	font-size: clamp(1rem, 3.5vw, 1.7rem);
	text-align: end;
}

#about img {
	visibility: hidden;
	width: 30%;
    height: auto;
}

#skills {
	display: flex;
	flex-direction: column;
}

#skills h2 {
	visibility: hidden;
	font-size: clamp(2rem, 6vw, 4.5rem);
	color: #65c9ff;
	margin-bottom: 5vh;
}

#skills .cards {
	visibility: hidden;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

#skills.visible h2,
#skills.visible .cards {
	visibility: visible;
	animation: enter-bottom 0.8s ease-in-out;
}

#skills .cards .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	outline: 2px solid white;
	border-radius: 10px;
	width: 100%;
	padding: 4vh 1vw;
	gap: 30px;
}

#skills .cards .card .header,
#skills .cards .card .languages,
#skills .cards .card .tools {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#skills .card-icon {
	height: 52px;
	padding: 10px;
}

#skills .card h3 {
	padding-bottom: 5px;
	color: white;
	font-size: clamp(1.4rem, 4vw, 1.5rem);
}

#skills .card h4 {
	color: #65c9ff;
	font-size: clamp(1rem, 3vw, 1.5rem);
}

#skills .card p {
	margin-top: 15px;
	font-size: 1.4rem;
}

#skills .card ul {
	list-style: none;
}

#skills .card li {
	margin-top: 15px;
	font-size: 1.4rem;
}

#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contact .content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4vw;
}

#contact h2 {
	font-size: clamp(2rem, 6vw, 4.5rem);
	color: #65c9ff;
	margin-bottom: 5vh;
}

#contact .form {
	display: flex;
	flex-direction: column;
	width: 60%;
	gap: 15px;
}

#contact .form .col {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 15px;
}

#contact .form .col input {
	width: 100%;
}

#contact .form input,
#contact .form textarea {
	outline: none;
	border: none;
	background-color: #2b2b2b;
	font-size: clamp(1rem, 3vw, 1.5rem);
	border-radius: 10px;
	padding: 15px 20px;
	color: #dddddd;
}

#contact .form textarea {
	resize: none;
}

#contact button {
	font-size: clamp(1rem, 3.5vw, 1.7rem);
	width: fit-content;
	border-radius: 5px;
	outline: 2px solid #65c9ff;
	color: #65c9ff;
	padding: 8px 25px;
	text-decoration: none;
	background-color: transparent;
	border: none;
	align-self: flex-end;
	cursor: pointer;
	margin-top: 1vh;
}

#contact button:hover {
	color: black;
	background: #65c9ff;
	box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
	transition: 0.1s;
}

#contact .socials {
	display: flex;
	flex-direction: column;
	gap: 1vw;
}

#contact .socials .row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1vw;
}

#contact .socials .row span {
	text-decoration: none;
	font-size: clamp(1rem, 3.5vw, 1.7rem);
	color: white;
}

#contact .socials .row {
	text-decoration: none;
}

#contact .socials .row:hover {
	transform: scale(1.05);
}

#contact .socials .row img {
	width: clamp(30px, 5vw, 50px);
}

@media only screen and (max-width: 1000px) {
	section {
		min-height: 100vh;
		height: fit-content;
	}

	#me {
		flex-direction: column-reverse;
		justify-content: start;
		gap: 10vh;
		padding-top: 10vh;
	}

	#me img {
		width: 40%;
	}

	#about {
		flex-direction: column-reverse;
		justify-content: center;
		gap: 5vh;
	}

	#about .content {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1vh;
	}

	#about img {
		width: 50%;
	}

	#about h2 {
		font-size: clamp(2rem, 6vw, 4.5rem);
		text-align: start;
		color: #65c9ff;
	}

	#about p {
		font-size: clamp(1rem, 3.5vw, 1.7rem);
		text-align: start;
	}

	#skills .cards {
		flex-direction: column;
	}

	#contact .content {
		flex-direction: column;
		align-items: flex-start;
	}

	#contact .form {
		width: 100%;
	}
}

*::-webkit-scrollbar {
	background-color: transparent;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	border: 5px solid transparent;
	box-shadow: inset 0 0 14px 14px transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 5px solid transparent;
	box-shadow: inset 0 0 14px 14px #bbbbbe;
}
*::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	border: 5px solid transparent;
	box-shadow: inset 0 0 14px 14px #d9d9dd;
}

*::-webkit-scrollbar {
	width: 16px;
}

body::-webkit-scrollbar {
	background-color: #1d1d1d;
}
