.header {
	height: 50px;
}

.text-wrapper span,
.text-wrapper h1 {
	font-size: 1.2rem;
	font-weight: 700;
	display: inline-flex;
	align-items: center;
}

.subtitle {
	margin-top: 10px;
	opacity: 0.8;
	font-size: 1rem;
}

.second-content h1 {
	width: 70%;
	margin-bottom: 0;
	font-size: 2rem;
}

.second-content .description {
	width: 90%;
	margin-top: 20px;
	font-size: 1.1rem;
	font-weight: 500;
}

.wrap {
	min-height: 23px;
}

.avatar {
	width: 200px;
	height: auto;
}

.programming-svg {
	width: 90%;
	height: auto;
	max-height: 30vh;
}

.skills {
	display: flex;
	flex-direction: column;
	box-shadow: none;
	gap: 20px;
}

.card {
	border-radius: 10px;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

/* #region Menu circular  */

.menu {
	height: 320px;
	width: 250px;
	margin-top: 20px;
}

.menu .social svg {
	--iconsize: 30px;
}

.menu .social:hover svg {
	--iconsize: 35px;
}

.menu.active .social {
	transform: rotate(calc(360deg / 6 * var(--i))) translateX(-140px)
		rotate(calc(360deg / -6 * var(--i))) translateY(10px)
		rotate(calc(360deg / 6 * var(--i)));
}

/* #endregion */
